
        .main {
            width: 1100px;
            margin: auto;
            height: 100vh;

        }

        .grid-container {
            display: grid;
            grid-template-columns: 15% 200px auto 150px;
            background-color: black;
            grid-gap: 2px;
            padding: 2px;
            column-gap: 0;
            
        }

        .grid-container>div {
            background-color: white;
            padding: 20px 0;
            font-size: 30px;
        }

        .countryimg {
            height: 30px;
            width: 50px;
        }

        .Title {
            padding: 2px;
            text-align: center;

        }

        .beijingstade {
            text-align: center;
            width: 100%
        }
        .sg-header-row-first {
            background-color: red !important;
        }
        
        .color {
            color:white;
        }
        
        
       

        
 